$background-color: white;
$base-color: black;
$text-color: white;
$highlight-color: tomato;
$secondary-color: whitesmoke;


html, body {
  max-width: 100%;
  //overflow-x: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  margin: 15% 0 0 0;
  transition: margin 0.5s;
  z-index: 100;
  position: sticky;
  top: 15px;

  .header-background {
    top: -130px;
    left: -30px;
    width: 100rem;
    height: 120px;
    z-index: -1;
    position: fixed;
    transition: 0.5s;
    background-color: azure;
  }

  .name {
    margin: 0 0 0 0;
    line-height: 0.7;
    text-align: left;
    font-size: 6rem;
    font-family:'Caudex';
    color: $base-color;
    transition: 0.5s;
    text-decoration: none;
  }

  .name:hover {
    color: $highlight-color;
  }

  .header-text{
    margin:  0;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Prompt';
    color: $base-color;
    line-height: 1.2;
    transition: 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .NavPhrase {
    display: inline-block;
  }

  nav {
    margin: 0.7rem 0;
    width: 100%;
    text-align: left;
    transition: 0.3s;
  }

  .navbar-item {
    padding: 5px 20px;
    margin: 0 4px;
    color: $text-color;
    font-family: 'Prompt';
    font-size: 2.5rem;
    font-weight: 600;
    background-color: $base-color;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 3px;
  }

  .navbar-item:hover {
    background-color: $highlight-color;
  }

  &.small {
    margin: 2% 0 0 0;
    //padding-top: 1%;
    //background-color: $background-color;

    .header-background {
      top: -100px;
      left: -30px;
      width: 100rem;
      height: 200px;
      z-index: -1;
      position: absolute;
      background-color: whitesmoke;
    }

    .name {
      font-size: 40px;
      font-weight: bold;
    }

    .header-text{
      line-height: 0;
      color: transparent;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    nav {
      width: 300;
    }

    .navbar-item {
      padding: 3px 10px;
      font-size: 20px;
      border-radius: 2px;
    }
  }
}

.block-page {
  margin: 10px 0;
  padding: 20px;
  width: 430px;
  text-align: left;
  background-color: $secondary-color;
  transition: 0.5s;
  font-family: 'Caudex';
  font-size: 30px;
  font-weight: 600;
  border-radius: 5px;
}

.Paragraph {
  font-family: 'Caudex';
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
