$background-color: #eceae4ff;
$base-color: black;
$text-color: black;
$highlight-color: #ff3500;
$secondary-color: #eceae4ff;

html, body {
  max-width: 100%;
  //overflow-x: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header2 {
  margin: 3% auto;
  width: 50%;
  transition: 0.5s;
  z-index: 100;
  top: 6%;
  position: sticky;
  display: flex;

  .header-background {
    top: -130px;
    height: 120px;
    z-index: -1;
    position: fixed;
    transition: 0.5s;
    background-color: $secondary-color;
  }

  .name-block{
    margin: auto 1% auto auto;
    position: relative;
    
    .name {
      line-height: 0.8;
      text-align: right;
      font-size: 5rem;
      font-family: 'Gilda Display';
      color: $base-color;
      transition: 0.5s;
      text-decoration: none;
    }

    .name:hover {
      color: $highlight-color;
    }

    .header-text{
      text-align: left;
      color: $text-color;
      font-family: 'Lexend';
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.2;
      transition: 0.5s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .NavPhrase {
    display: inline-block;
  }

  nav {
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    text-align: left;
    transition: 0.5s;
  }

  .navbar-item {
    padding: 20rem 1.9rem;
    margin: 0 -0.5px;

    color: $text-color;
    font-family: 'Lexend';
    font-size: 1.5rem;
    font-weight: 300;

    background-color: $highlight-color, transparent;

    border-color: $text-color;
    border-right: solid;
    border-left: solid;
    border-width: 1.3px;

    transition: 0.5s;
    text-decoration: none;
  }

  .navbar-item:hover {
    //background-color: $highlight-color;
    animation: 0.3s multicolor;
    background-color: $text-color;
    color: $background-color;
  }

  &.small {
    width: 95%;
    pointer-events: none;

    .header-background {
      top: -100px;
      left: -5.263%;
      width: 110%;
      height: 400px;
      z-index: -1;
      position: absolute;
      background-color: transparent;
      background-image: linear-gradient(to bottom, $background-color,  $background-color, transparent);
    }

    .header-text{
      pointer-events: auto;
      line-height: 0;
      color: transparent;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .name {
      pointer-events: auto;
      font-size: 4rem;
      width: 10rem;
    }


    .navbar-item {
      pointer-events: auto;
      padding: 0.5rem 0.5rem;
    }
  }
}

@keyframes multicolor {
  0% {
    background-color: #eceae4ff;
  }
  15% {
    background-color:  rgb(237, 221, 211);
    opacity: 15%;
  }
  30% {
    background-color: rgb(232, 191, 166);
    opacity: 30%;
  }
  45% {
    background-color:  rgb(208, 119, 87);
    opacity: 45%;
  }
  60% {
    background-color:  rgb(159, 69, 36);
    opacity: 60%;
  }
  85% {
    background-color:rgb(112, 41, 15);
    opacity: 85%;
  }
  90% {
    background-color: rgb(70, 24, 7);
    opacity: 90%;
  }
  100% {
    background-color: $text-color;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
