@import "App";

$max-width: 95%;
$max-width-paragraph: 700px;
$max-width-h1: 80%;

$title-size: 65px;
$h1-size: 27px;
$h2-size: 1.5rem;
$p-size: 1.3rem;

.experience-quarter {
    margin: auto;
}

.nav-secondary {
    display: flex;
    position: sticky;
    top: 15%;
    margin: 2.5%;
    width: 100%;
    text-align: left;
    transition: 0.5s;

  .navbar-item {
    padding: 0.5rem 0.5rem;
    margin: 0 -0.5px;

    color: $text-color;
    font-family: 'Lexend';
    font-size: 1.5rem;
    font-weight: 300;

    background-color: $highlight-color, transparent;

    border-color: $text-color;
    border-right: solid;
    border-left: solid;
    border-width: 1.3px;

    transition: 0.5s;
    text-decoration: none;
  }

  .navbar-item:hover {
    //background-color: $highlight-color;
    animation: 0.3s multicolor;
    background-color: $text-color;
    color: $background-color;
  }
}

.title {
    margin: auto;
    color: $text-color;
    width: 100%;
    max-width: $max-width;
    padding: 2%;
    font-family: 'Lexend';
    text-align: right;
    font-weight: 700;
    font-size: $title-size;
    line-height: 1;
    border-bottom: solid;
    border-width: 1.3px;
    border-color: $text-color;
}

.date {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: $h1-size;
    line-height: 0.9;
    right: 2%;
    top: 5%;
    position: absolute;
    text-align: right;
    z-index: 4;
    color: $highlight-color;
}

.box {
    display: block;
    position: relative;
    margin: 0.5% auto;
    padding: 1%;
    width: 100%;
    max-width: $max-width;
    text-align: justify;
    background-color: transparent;
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
    color: $text-color;
    cursor: auto;
    
    border-bottom: solid;
    border-width: 1.3px;
    border-color: $base-color;

    p {
        font-family: 'Lexend';
        font-size: $p-size;
        max-width: $max-width-paragraph;

        a {
            text-decoration: none;
        }
    }

    h1 {
        max-width: $max-width-h1;
        font-family: 'Lexend';
        font-weight: 700;
        font-size: $h1-size;
        line-height: 0.9;
    }

    h2 {
        font-family: 'Lexend';
        font-weight: 300;
        font-size: $h2-size;
        position: relative;
        line-height: 0.9;
        left:0px;
    }
}


.presentation-box {
    display: block;
    position: relative;
    margin: 0.5% auto;
    padding: 1%;
    width: 100%;
    max-width: $max-width;
    text-align: left;
    background-color: transparent;
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
    color: $text-color;
    cursor: auto; 
    border-bottom: solid;
    border-width: 1.3px;
    border-color: $base-color;
    transition: 0.3s;

    h1 {
        max-width: $max-width-h1;
        font-family: 'Lexend';
        font-weight: 700;
        font-size: $h1-size;
        line-height: 0.9;
    }

    h2 {
        font-family: 'Lexend';
        font-weight: 300;
        font-size: 0px;
        position: relative;
        line-height: 0;
        left:0px;
        transition: 0.3s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    p {
        font-family: 'Lexend';
        font-size: 0px;
        line-height: 0;
        transition: 0.3s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        a {
            text-decoration: none;
        }
    } 
}

.presentation-box:hover {
    h2 {
        line-height: 0.9;
        font-size: $h2-size;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    p {
        line-height: 0.9;
        font-size: $p-size;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}  


.img-large {
    top: 20%;
    height: 50%;
    right: 0;
    position: absolute;
    z-index: 1;
}

.img-small {
    top: 5%;
    width: 5%;
    right: 0;
    position: absolute;
    z-index: 1;
}

.logo {
    width: 300px;
    margin: 10px 0;
}

.self-img {
    top: 5%;
    right: 0%;
    height: 60%;
    position: absolute;
    z-index: 1;
}

.ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, $base-color 7px, $base-color 10px, transparent 11px);
    background-size: 36px 40px;
    width: 95%;
    height: 20px;
}

.ellipse2 {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, $base-color 7px, $base-color 10px, transparent 11px);
    background-size: 36px 40px;
    width: 95%;
    height: 20px;
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}
